#main .main-body-header em,
#main .main-body-header a {
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
body {
  width: 100%;
}
#main .main-body-header {
  background: #fff;
  position: relative;
  margin-top: 40px;
  padding: 18px 30px 17px;
  border-bottom: 1px solid #eee;
  color: #666;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
}
#main .main-body-header .page-title-link {
  margin-left: 4px;
  margin-right: 4px;
}
#main .main-body-header i {
  margin-right: 8px;
  font-weight: 400;
}
#main .main-body-header em,
#main .main-body-header a {
  color: #aaa;
}
